body{
    padding-bottom: 50px;
}

.main-container{
    margin-top: 20px;
}

.img-logo{
    width: 120px;
}
/*Animaciones*/

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
    opacity: 0;
    }

    to {
    opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}